APP_NAME="Invertors Unite"
APP_ENV=local
APP_KEY=base64:yVk7zSBVQ9CyPeGHZbvG8S2ubHlECuPqhC9mWC9GtuA=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=investors_unite
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mailpit
# MAIL_PORT=1025
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"
MAIL_MAILER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=587
MAIL_USERNAME="devpetyr911@gmail.com"
MAIL_PASSWORD="bghdfzvvzmiwtwvw"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="investorunite@notify.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1647725
PUSHER_APP_KEY=e294b0e8779493ecb9f2
PUSHER_APP_SECRET=dd55051bd52aa17d837e
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap2

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#oneSignalNotificationCredentials
APPID="686b9aa2-78a9-4d46-b9a2-aaf345e0fb96"
APPKEYTOKEN= "NjBkOTBjNjgtOGI5YS00NDY2LWJkNDQtMTYzMGQ1ZDdjMjhj"
USERKEYTOKEN= "ZDllZGYxOGUtMWZkMi00ZjI0LWE4MjYtZmRlNzQxYjIwM2E3"
SAFARI_WEB_ID="web.onesignal.auto.16fe94fe-85b7-4f18-b294-6465f1482156"

#stripeKeys
STRIPE_PUBLISHABLE_KEY="pk_test_51K1w31Fbw110dgpaIlP08H2SJ6WZNSKLKfR7liKbjkdjE0bPr461bVtzMGESLMz7MtzWqFtFiRefE71AIfDQ56ik002AbtshDl"
STRIPE_SECRET_KEY="sk_test_51K1w31Fbw110dgpaXO3pziHlDL6NANzvd0qTnjFrTEYnvUZtOH4LNePzTmc4HEgK1vWfY8HVfRx76mXAJ4ZsJHRD00wI9pc9fD"
